@page "/admin/orderlist"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.OrderPage

<h3>Orders List</h3>
@if (Orders == null)
{
    <Spinner></Spinner>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Order Date</th>
                        <th>Buyer Id</th>
                        <th>Order Total</th>
                        <th>Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Orders)
                    {
                        <tr @onclick="@(() => DetailsClick(order.Id,order.OrderStatus))">
                            <td hidden>@order.Id</td>
                            <td>@order.OrderDate.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@order.BuyerId</td>
                            <td>@order.Total.ToString("C2")</td>
                            <td>@order.OrderStatus</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <OrderDetails Items="@orderItems" OnApproveClick="@ReloadOrders" @ref="OrderDetailsComponent"></OrderDetails>
}



