@namespace eShopOnBlazorWasm.Pages

@using eShopOnBlazorWasm.Features.Bases

@page "/weatherforecasts"

@inherits BaseComponent

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (@WeatherForecastsState.WeatherForecasts == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table" data-qa="WeatherForecastTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var forecast in @WeatherForecastsState.WeatherForecasts)
      {
        <tr>
          <td>@forecast.Date.ToShortDateString()</td>
          <td>@forecast.TemperatureC</td>
          <td>@forecast.TemperatureF</td>
          <td>@forecast.Summary</td>
        </tr>
      }
    </tbody>
  </table>
}
