@page "/"

<h1>Manage Product Catalog</h1>

@if (catalogItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Item Type</th>
                <th>Brand</th>
                <th>Id</th>
                <th>Name</th>
                <th>@nameof(CatalogItem.Description)</th>
                <th>@nameof(CatalogItem.Price)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in catalogItems)
            {
                <tr>
                    <td>
                        <img class="esh-thumbnail" src="@($"https://localhost:44315/{item.PictureUri}")">
                    </td>
                    <td>@GetTypeName(item.CatalogTypeId)</td>
                    <td>@GetBrandName(item.CatalogBrandId)</td>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
