@model CatalogItemViewModel

<form asp-page="/Admin/EditCatalogItem" method="get">
    <div>
        <img class="esh-catalog-thumbnail" src="@Model.PictureUri" />
        <div class="esh-catalog-name">
            <span>@Model.Name</span>
        </div>
        <input class="esh-catalog-button" type="submit" value="[ Edit ]" />
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
    </div>
</form>
